<h1><%= @user ? "#{@user.name}'s " : 'All '%>Chracters</h1>
<br>
<% @characters.each do |character|%>
  <strong>Name: </strong><%= link_to character.name , user_character_path(character.user,character) %>
  <%= render 'character', character: character %>
  <br>
  <br>
<% end %>
<% if current_user.id == @user.id%>
  <%= link_to "Create New Character ", new_user_character_path %>
<% end %>
